<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bmsmart.mes.mesDemo.dao.MdmAddrDao">
	<sql id="mdmAddrInfoColumns">
		a.id AS "id",
		a.code AS "code",
		a.name AS "name",
		a.descs AS "descs",
		a.create_user AS "createUser",
		a.create_time AS "createTime",
		a.update_user AS "updateUser",
		a.update_time AS "updateTime",
		a.remark AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	<sql id="mdmAddrInfoJoins">
	</sql>
    
	<select id="get" resultType="MdmAddrInfo">
		SELECT 
			<include refid="mdmAddrInfoColumns"/>
		FROM mdm_addr a
		<where>
			a.id = #{id}
		</where>
	</select>
	
	<select id="findList" resultType="MdmAddrInfo">
		SELECT 
			<include refid="mdmAddrInfoColumns"/>
		FROM mdm_addr a
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
		</where>
	</select>
	
	<select id="findByMap" resultType="MdmAddrInfo">
		SELECT 
			<include refid="mdmAddrInfoColumns"/>
		FROM  mdm_addr a
		<where>	
			a.del_flag = '0'
			<if test="name!= null">
               and a.name LIKE  concat('%', #{name},'%')
            </if>	
            <if test="code!= null">
               and a.code LIKE  concat('%', #{code},'%')
            </if>
		</where>
		order by a.create_time desc
	</select>
	
	<update id="delete">
		UPDATE mdm_addr SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	<insert id="insert">
		INSERT INTO mdm_addr(
			id,
			code,
			name,
			descs,
			create_user,
			create_time,
			update_user,
			update_time,
			remark,
			del_flag
		) VALUES (
			#{id},
			#{code},
			#{name},
			#{descs},
			#{createUser},
			#{createTime},
			#{updateUser},
			#{updateTime},
			#{remarks},
			#{DEL_FLAG_NORMAL}
		)
	</insert>
	
   <update id="update">
		UPDATE mdm_addr SET 	
		    code = #{code},
		    name = #{name},
		    descs = #{descs},
			update_user = #{updateUser},
			update_time = #{updateTime}
		WHERE id = #{id}
	</update>  
	
</mapper>